@keyframes scrollIndicator {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  30% {
    transform: translateY(-1rem);
    opacity: 1;
  }
  49% {
    transform: translateY(1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  51% {
    transform: translateY(-1rem);
    opacity: 1;
  }
  70% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

@keyframes sidebarMoveLeft {
  0% {
    right: -100vw;
  }

  100% {
    right: 0;
  }
}

@keyframes sidebarMoveRight {
  0% {
    right: 0;
  }

  100% {
    right: -100vw;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1) rotateZ(0deg);
  }

  100% {
    opacity: 0;
    transform: scale(0) rotateZ(45deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0) rotateZ(-45deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotateZ(0deg);
  }
}

@keyframes borderBottomAnim {
  0% {
    right: 100%;
  }
  100% {
    right: 70%;
  }
}

@keyframes sidebarNavLinkMoveRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1rem);
  }
}

@keyframes sidebarNavLinkMoveLeft {
  0% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0px);
  }
}
